@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --text-title: wheat;
    --text-paragraf: whitesmoke;
    --text-link: rgb(216, 211, 255);
    --font-main: "Oswald", sans-serif;
}

.font-family {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    color: var(--text-title);
    font-family: var(--font-main);
    background-color: black;
}

h1{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 45px;
    font-family: var(--font-family);
}

h2{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 30px;
}

p{
    display: flex;
    color: var(--text-paragraf);
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: var(--text-link);
}